{{#if article}}
{{#each article}}
<div class="card border-secondary mb-2">
  <div class="card-body">
    <h5 class="card-title">{{headline}}</h5>
    <img class="card-img-top float-left mr-3" src="{{imageURL}}" alt="no image available"
      style="width: 20vw; float: left">
    <p class="card-text">
      {{summary}}
      <a href="{{link}}" target="_blank" class="ml-2">Read more</a>
    </p>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      <a href="/comment/{{_id}}">
        <button type="button" class="btn btn-info float-right ml-1" style="font-size: 0.9em">
          Comment <span class="badge badge-light">{{comments.length}}</span>
        </button>
      </a>
      <button type="button" class="btn btn-danger float-right mr-1 delete-article" article-id="{{_id}}"
        style="font-size: 0.9em">Delete</button>
    </small>
  </div>
</div>
{{/each}}
{{else}}
<div class="mb-5">
  <h4>
    No Articles.
    <a class="btn btn-warning" href="/scrape" role="button">
      Try Loading Articles
    </a>
  </h4>
</div>
{{/if}}
